body *{
    @apply transition-colors duration-100;
}
body {
  background-color: white;
  color: black; /* text-1a-black */
}

html.dark body {
  background-color: #1a1a1a; /* dark:bg-1a-black */
  color: white; /* dark:text-white */
}